{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Add a new poll
{% endblock %}


{% block body_block %}
    <h1>Create a new poll</h1>
    <form id="pollc-form" method="post" action="{% url 'rango:poll' %}">
        {% csrf_token %}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{#        {% for field in form.visible_fields %}#}
{#            {{ field.errors }}#}
{#            {{ field.help_text }}#}
{#            {{ field }}#}
{#            {{ value|linebreaks }} {#添加换行符#}
{#        {% endfor %}#}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Create Poll"/>
    </form>
{% endblock %}