{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
  Poll
{% endblock %}

{% block link_block %}
    <link href="{% static 'bootstrap/css/poll.css' %}" rel="stylesheet">
{% endblock %}


{% block nav_block %}
  <li><a href="{% url 'rango:index' %}">Home</a></li>
  <li class="active"><a href="{% url 'rango:createpoll' %}">Poll</a></li>
  <li><a href="{% url 'rango:login' %}">Sign in</a></li>
{% endblock %}

{% block body_block %}  
  <div class="container">
    <div class="page-header text-left">
      <h3>Poll</h3>
    </div>

    <div class="jumbotron text-left">
      <h2>Which one is better?</h2>
      <p style="font-size: 13px;">Do you prefer to drink Coca-Cola or Pepsi?</p>
      <p class="text-right jumbotron-time" style="font-size: 16px;">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        124 July 28, 2021
    </p>
    </div>

    <form id="poll-form" class="text-left" method="post" action="{% url 'rango:poll' %}">
      <label class="poll-option"><input type="radio" class="poll-radio" value="Coca-Cola">Coca-Cola</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
      
      <label class="poll-option"><input type="radio" class="poll-radio" value="Coca-Cola">Coca-Cola</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          40%
        </div>
      </div>
      <div class="text-right">
        <input type="submit" name="submit" class="btn btn-lg btn-default text-left" value="Poll" />
      </div>
    </form>

    <div class="page-header text-left">
      <h3>Reviews</h3>
    </div>

    <div class="media text-left">
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="{% static 'images/rango.jpg' %}" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
      </div>
    </div>

    <form id="comment_form" method="post" action="{% url 'rango:poll' %}">

      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
      {% endfor %}

      <input type="submit" name="submit" value="Add a comment" />
  </form>
   
  </div>

{% endblock %}
